<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ if .IsHome }}
        {{ range first 6 $.Site.Params.images }}
        <meta property="og:image" content="{{ . | absURL }}" />
        {{ end }}
        {{ end }}
        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/twitter_cards.html" . }}
        {{ partial "adsense" . }}

        <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

        <link rel="icon" type="image/png" href='{{ "images/favicon-128x128.png" | absURL }}' sizes="16x16 32x32 64x64 128x128">

        <link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald:400" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">      
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        
        {{ $plugins := resources.Get "css/styles.css" }}
        {{ $global := resources.Get "css/syntax.css" }}
        {{ $styles := slice $plugins $global | resources.Concat "css/bundle.css" | minify | fingerprint }}

        <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}"  />

        {{ block "head" . }}{{ end }}        
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark py-1 top-nav">
            <div class="container">
                <a class="navbar-brand pr-2" href="{{ .Site.BaseURL }}">
                    <img src='{{ "images/logo.png" | absURL }}' width="40" height="40" alt="">
                    {{ .Site.Title | upper }}
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        {{ partial "top-nav-text-links" . }}
                    </ul>
                    <div class="social-icons">
                        {{ partial "social-icons" . }}
                    </div>
                </div>
            </div>
        </nav>

        {{ block "header" .}}{{ end }}
        
        <div class="main">
            {{ block "main" . }}{{ end }}
        </div>

        <footer class="mt-auto footer d-print-none">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-4 col-xl-3">
                        {{ partial "footer-copyright" . }}
                    </div>
                    <div class="col-md-4 col-xl-3">
                        {{ partial "footer-disclaimer" . }}
                    </div>
                    <div class="col-md-4 col-xl-3">
                        {{ partial "footer-about-site" . }}
                    </div>
                </div>

                <hr />

                <div class="d-flex justify-content-center icons">
                    {{ partial "social-icons" . }}
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        {{ template "_internal/google_analytics_async.html" . }}
    </body>
    <style>
        .zoom-in-thumbnail {
            visibility: hidden;
            position: fixed;
            z-index: 100000;
            box-sizing: border-box;
            border: 5px solid #ffffff;
            border-radius: 3px;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
            opacity: 0;
            pointer-events: none;
            transition-duration: 0.3s;
            transition-delay: 0.1s;
            transition-property: opacity;
        }

        .zoom-in-thumbnail-img {
            background-repeat: no-repeat;
            background-size: contain;
        }

        /*img:hover + .zoom-in-thumbnail {*/
            /*visibility: visible;*/
            /*top: var(--zoom-image-y, 0);*/
            /*left: var(--zoom-image-x, 0);*/
            /*opacity: 1;*/
        /*}*/
    </style>
    <script>
        const root = document.documentElement;

        $(function () {

            $(".main-content img, .post img").each(function () {
                if (this.complete) {
                    generateImageDiv(this);
                } else {
                    $(this).on("load", function () {
                        generateImageDiv(this);
                    });
                }
                this.style.cursor = "pointer";

                $(this).on("mousemove", function (evt) {
                    let x = evt.clientX;
                    let y = evt.clientY;
                    let showXY;

                    if ($(this).next().width() >= $(this).next().height()) {
                        if (innerHeight - y <= $(this).next().height() + 50) {
                            showXY = getShowXY(this, "top", x, y);
                        } else {
                            showXY = getShowXY(this, "bottom", x, y);
                        }
                    } else {
                        if (innerWidth - x <= $(this).next().width() + 50) {
                            showXY = getShowXY(this, "left", x, y);
                        } else {
                            showXY = getShowXY(this, "right", x, y);
                        }
                    }
                    root.style.setProperty("--zoom-image-x", showXY.x + 250 + "px");
                    root.style.setProperty("--zoom-image-y", showXY.y + "px");
                });

                $(this).on("click", function (evt) {
                    window.open(this.src);
                });
            });
        });

        function getShowXY(element, direction, x, y) {
            let divElement = $(element).next();
            switch (direction) {
                case 'top':
                    x -= (divElement.width() / 2);
                    y -= divElement.height();
                    y -= 25;
                    break;
                case 'bottom':
                    x -= (divElement.width() / 2);
                    y += 25;
                    break;
                case 'right':
                    y -= (divElement.height() / 2);
                    x += 25;
                    break;
                case 'left':
                    x -= divElement.width();
                    y -= divElement.height() / 2;
                    x -= 25;
                    break;
            }

            return {x: x, y: y};
        }

        function generateImageDiv(element) {
            var maxWidth = screen.width * 0.6; // Max width for the image
            var maxHeight = screen.height * 0.5; // Max height for the image

            var ratio = 0;
            var height = element.naturalHeight;
            var width = element.naturalWidth;

            if (width > maxWidth) {
                ratio = maxWidth / width;
                width = maxWidth;
                height = height * ratio;
            }

            if (height > maxHeight) {
                ratio = maxHeight / height;
                height = maxHeight;
                width = width * ratio;
            }

            var html = "<div class='zoom-in-thumbnail'><div class='zoom-in-thumbnail-img' style=\"background-color: white; background-image:url('" +
                element.src +
                "'); height: " +
                height +
                "px; width: " +
                width +
                'px;"></div></div>';

            $(element).after(html);
        }
    </script>
</html>
