{{ define "head" }}
{{ end }}
{{ define "header" }}
    {{ partial "feature-image" . }}
{{ end }}
{{ define "main" }}
<div class="container mt-4 mb-4 post">
    <h1>{{ .Title }}</h1>

    {{- $data := .Data }}
    <div class="d-flex flex-row flex-wrap">
        {{ range .Data.Terms.ByCount }}
        <div>
            <a href='{{ $.Site.BaseURL}}{{ $data.Plural }}/{{ (replace .Name "#" "%23") | urlize }}/' class="nav-link">
                {{ .Name }}
                <span class="badge badge-pill tag-color">{{ .Count }}</span>
            </a>
        </div>
        {{ end }}
    </div>
</div>
{{ partial "sidebar" . }}
{{ end }}

{{/* tags / categories 清單，不寫就不會顯示所有的詞  */}}


