{{ define "head" }}
    {{ partial "head-meta" . }}
{{ end }}
{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "header" }}
    {{ partial "feature-image" . }}
{{ end }}
{{ define "main" }}
<div class="container mt-4 post">
    <h1>{{ .Title }}</h1>
    {{ partial "post-meta" . }}

    <div class="share-icons d-flex justify-content-center d-print-none">
        {{ partial "share-icons" . }}
    </div>

    <div class="mt-4 mb-5 main-content">
        {{ .Content }}

        {{ partial "post-footer" . }}

        <div class="share-icons d-flex justify-content-center d-print-none">
            {{ partial "share-icons" . }}
        </div>

        {{ partial "post-author" . }}
    </div>

<!--    {{ partial "disqus.html" . }}-->
</div>
{{ partial "toc" . }}
{{ end }}
