<div class="mb-3">
    <small>
        <strong>By {{ if .Params.Author }}{{ .Params.Author }}{{ else }}{{ .Site.Params.Author }}{{ end }}</strong>
        | <i class="far fa-calendar-alt"></i>&nbsp;{{- .Date.Format .Site.Params.data_format -}}&nbsp;
        {{ if .Params.tags }}
        | <i class="fa fa-tags" title="Tags" aria-hidden="true"></i> {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}<a href='/tags/{{ (replace $e "#" "%23") | urlize }}/'>{{ $e }}</a>{{ end }}
        {{ end }}
        {{ if .Params.categories }}
        | <i class="fa fa-folder" title="Tags" aria-hidden="true"></i> {{ range $i, $e := .Params.categories }}{{ if $i }}, {{ end }}<a href='/categories/{{ (replace $e "#" "%23") | urlize }}/'>{{ $e }}</a>{{ end }}
        {{ end }}
        {{ if .Params.series }}
        | <i class="fa fa-folder" title="Tags" aria-hidden="true"></i> {{ range $i, $e := .Params.series }}{{ if $i }}, {{ end }}<a href='/series/{{ (replace $e "#" "%23") | urlize }}/'>{{ $e }}</a>{{ end }}
        {{ end }}
    </small>
</div>